.erledigt {
  opacity: 0.8;
  text-decoration : line-through;
}
.hervorgehoben {
	border-color: #506c4e;
    background-color: #e8473e;
    color: #fff;
    text-align: center;	
    font-size: large;
    margin-top: 10px;
	line-height: 200%;
    margin-bottom: 10px;
    margin-left : auto;  
    margin-right: auto;
 }
 .hervor_positiv {
 	color: white;
 	background-color: #668964;
 	margin: 0 auto 10 auto;
 	padding: 5px;
 	opacity: 0.8;
 	display : inline-block;
 	width: 60%; 
 }
 .termin_ueberschritten {
 		color:  red;
 }
 .termin {
 	color : blue;
 }
 .rot {
 	color: red;
 	}
 	.blau {
 		color: blue;
 	}
 	.abstand {
 		margin-bottom: 10px;
 	}
 	
 	.klein {
 		width : calc(50% - 1px);
 		background-color: white;
 		color : black;
 		margin : 0px 1px 2px 0px;
 		float : left;
 		overflow: hidden;
 	}
 	.b_klein {
 		background-color: red;
 		color: white;
 		float: right;
 		padding : 0px 0px 0px 0px;
 		margin : 0px;
 		}
 	.t_klein {
 		white-space: nowrap;
 		overflow : hidden;
 		text-overflow: ellipsis;
 		float : left;
 		width : 90%;
 		padding: 0px 0px 0px 10px;
 		margin : 0px;
 	}
 
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    blue;
}

/* toast */
<style>
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
</style>

