/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

:root {
    --main-bg-color-positive: #387ef5;
    --main-txt-color: blue;    
    --main-padding: 15px;    
}

.erledigt {
  opacity: 0.8;
  text-decoration : line-through;
}
.hervorgehoben {
	border-color: #506c4e;
    background-color: #e8473e;
    color: #fff;
    text-align: center;
    font-size: large;
    margin-top: 10px;
	line-height: 200%;
    margin-bottom: 10px;
    margin-left : auto;
    margin-right: auto;
 }
 .hervor_positiv {
 	color: white;
 	background-color: #668964;
 	margin: 0 auto 10 auto;
 	padding: 5px;
 	opacity: 0.8;
 	display : inline-block;
 	width: 60%;
 }
 .termin_ueberschritten {
 		color:  red;
 }
 .termin {
 	color : blue;
 }
 .rot {
 	color: red;
 	}
 	.blau {
 		color: blue;
 	}
 	.abstand {
 		margin-bottom: 10px;
 	}

 	.klein {
 		width : calc(50% - 1px);
 		color : black;
 		margin : 0px 1px 2px 0px;
 		float : left;
 		overflow: hidden;
		border : 1px solid #DDDDDD;
 	}
	.b_normal {
		background-color: #DDDDDD;
 		color: #111111;
		
	}
 	.b_klein {
 	 	background-color: var(--main-bg-color-positive);  
 		color: white;
 		float: right;
 		padding : 1px 1px 1px 1px;
 		margin : 1px 5px 1px 0px;
    	border-radius: 0px;

 		}
 	.t_klein {
		
 		white-space: nowrap;
 		overflow : hidden;
 		text-overflow: ellipsis;
 		float : left;
 		width : calc(100%-10px);
 		padding: 1px 0px 1px 10px;
 		margin : 0px;


 	}
 	#detail .small {
		margin-left:  10px;
 		color:grey;
 		font-size: small;
		
 	}
	ul.fett {
		font-weight: bold;
	}
	
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    blue;
}
.header .col {
  background-color:lightgrey;
}
ul.striped-list > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}
.bn-filter {
    margin-bottom: 5px;
}
input::placeholder, .bn-placeholder {
    color: black;
    opacity: 0.9;
    font-size: 10px;
}