.erledigt {
  opacity: 0.8;
  text-decoration : line-through;
}
.hervorgehoben {
	border-color: #506c4e;
    background-color: #e8473e;
    color: #fff;
    text-align: center;	
    font-size: large;
    margin-top: 10px;
	line-height: 200%;
    margin-bottom: 10px;
    margin-left : auto;  
    margin-right: auto;
 }
 .termin_ueberschritten {
 		color:  red;
 }
 .termin {
 	color : blue;
 }
 .rot {
 	color: red;
 	}
 	.blau {
 		color: blue;
 	}
 
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    blue;
}
