<ion-view hide-back-button="false" title="Export" cache-view="false" id="csv">
	
<ion-content scroll="true">
	<h4>Exportieren der erfassten Daten als Email oder als Datei</h4>
    
    <div ng-if="exportformat=='csv'">
	   <p>kurs,name,bienchen,teufelchen</p>
        <ul ng-repeat="course in courses">
            <li ng-repeat="pupil in course.pupils">{{course.title}},{{pupil.name}},{{pupil.ratings.length}},{{pupil.teufelchen.length}} 
            </li>
        </ul>
    </div> 
    <div ng-if="exportformat=='json'">
        <p>{{jsonstr}}</p>
    </div>
    

	<br>
	<ion-list>
        <ion-radio ng-model="exportformat" ng-value="'csv'">CSV</ion-radio>
        <ion-radio ng-model="exportformat" ng-value="'json'">JSON</ion-radio>
    </ion-list>
   
    <br>
	
    
     <div class="button-bar">
       <a class="button" href="mailto:?subject={{exportformat=='csv' ? 'CSV Export aus bienchen by Thorsten Freimann' : 'JSON Export aus bienchen by Thorsten Freimann'}}&body={{exportformat=='csv' ? csvstr : jsonstr}}">Erstelle Email</a>
      <a class="button" ng-click="downloadFile(exportformat)">Datei</a>
      <a class="button">Abbruch</a>
    </div>
    <textarea ng-model="myTextarea"></textarea>
    <button ng-click="importJsonFromTextarea(myTextarea)">Save</button>
    <h1>{{myTextarea}}</h1>
    
</ion-content>
</ion-view>
