<ion-view hide-back-button="true" title="Einführung" cache-view="false" id="tour">
	<ion-nav-buttons side="right" class="has-header has-footer">
		<button class="button" ui-sref="kurs">beenden</button>
   


</ion-nav-buttons>
<ion-content scroll="false">
	<h1>CSV-Export</h1>
	<p>kurs,name,bienchen,teufelchen</p>
	<ul ng-repeat="course in courses">
		<li ng-repeat="pupil in course.pupils">{{course.title}},{{pupil.name}},{{pupil.ratings.length}},{{pupil.teufelchen.length}} 
        </li>
	</ul>
	<!--
	<a href="mailto:?subject=Important!&body=Hi.">link</a>
	-->
	<button ng-click="buildCsvStringEx()">Build CSV-String</button>
	
	<textarea style="background : 'grey;'" id="textbox">{{csvtext}}</textarea> <button ng-click="downloadcsv()" id="create">Create file</button> 
	
	
</ion-content>
</ion-view>
