<ion-view hide-back-button="false" title="Export / Import" cache-view="false" id="csv">
	
<ion-content scroll="true">
		<h2>Exportieren und Importieren</h2>
		<h5>Was wollen Sie tun?</h5>
		<ion-list>
	        <ion-radio ng-model="aktion" ng-value="'export'">Daten exportieren</ion-radio>
	        <ion-radio ng-model="aktion" ng-value="'import'">Daten (JSON-Format) importieren</ion-radio>
	    </ion-list>
	   

<!-- Export -->
	<div ng-if="aktion=='export'">
		<h4>Exportieren der erfassten Daten als Email oder als Datei</h4>
	    
	    <div ng-if="exportformat=='csv'">
		   <p>kurs,name,bienchen,teufelchen</p>
	        <ul ng-repeat="course in courses">
	            <li ng-repeat="pupil in course.pupils">{{course.title}},{{pupil.name}},{{pupil.ratings.length}},{{pupil.teufelchen.length}} 
	            </li>
	        </ul>
	    </div> 
	    <div ng-if="exportformat=='json'">
	        <p>{{jsonstr}}</p>
	    </div>
	    
	
		<br>
		<ion-list>
	        <ion-radio ng-model="exportformat" ng-value="'csv'">CSV</ion-radio>
	        <ion-radio ng-model="exportformat" ng-value="'json'">JSON</ion-radio>
	    </ion-list>
	   
	    <br>
		
	    
	     <div class="button-bar">
	       <a class="button" href="mailto:?subject={{exportformat=='csv' ? 'CSV Export aus bienchen by Thorsten Freimann' : 'JSON Export aus bienchen by Thorsten Freimann'}}&body={{exportformat=='csv' ? csvstr : jsonstr}}">Erstelle Email</a>
	      <a class="button" ng-click="downloadFile(exportformat)">Datei</a>
	      <a class="button">Abbruch</a>
	    </div>
    </div>

<!-- Import -->    
    <div ng-if="aktion=='import'">
	    <h4>Import von Daten (JSON-Format)</h4>
	    <h5>Hier können Sie Daten (JSON-Format) importieren, die
	    sie vorher exportiert haben.</h5>
	    <h5>Achtung! Alle bestehenden Daten werden gelöscht!</h5>
	
	<textarea ng-model="myTextarea" rows="4" cols="50" placeholder="Kopieren Sie hier die zu importierenden Daten hin (JSON-Format)..."></textarea>

	    <button ng-click="importJsonFromTextarea(myTextarea)">Save</button>
	    
    </div>
    
    
    
</ion-content>
</ion-view>
