<ion-view title="Kurs" cache-view="false" id="page1" style="background-color:#F7F7F7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-drag" ng-click="toggle('showReorder')"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" >
    <ion-list  id="kurs-list1" show-delete="showDelete" show-reorder="showReorder" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="kurs-list-item1" ui-sref="themen" ng-repeat="course in courses" ng-click="selectCourse(course, $index)">
        <i class="icon ion-ios-people-outline"></i>{{course.title}} - {{course.pupils.length}}
        <ion-option-button class="button-assertive" ng-click="deleteCourse(course)">Löschen</ion-option-button>
        <ion-option-button class="button-positive">Ändern</ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorder(course, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <ion-list id="kurs-list4" ng-click="" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="kurs-list-item4" ng-click="newCourse()" on-reorder="reorder(subject, $fromIndex, $toIndex)">
        <i class="icon ion-ios-plus-empty"></i>Kurs erstellen</ion-item>
    </ion-list>
  </ion-content>
</ion-view>