<ion-view title="Kurse" cache-view="false" id="page1" style="background-color:#F7F7F7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-drag" ng-click="toggle('showReorder')"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" >
  
  
  
    <ion-list  id="kurs-list1" show-delete="showDelete" show-reorder="showReorder" class="manual-list-fullwidth">
	<ion-item class="item-icon-left" id="kurs-list-item1" ui-sref="teilnehmer" ng-repeat="course in courses" ng-click="selectCourse(course, $index)">
	      
        <i class="icon ion-ios-people-outline"></i>{{course.title}} <br /><small ng-if="course.bienchen">Schüler: {{course.pupils.length}} 
        Bienchen: {{course.bienchen}} Mittel: {{course.bienchen/course.pupils.length | number: 0}} </small><br />
        <small ng-repeat="pupil in course.pupils | orderBy : '-bienchen' | limitTo : 3"> {{pupil.name}}: {{pupil.bienchen}} 
        </small> </span>
		
        <ion-option-button class="button-assertive ion-trash-a" ng-click="deleteCourse(course)"></ion-option-button>
        <ion-option-button class="button-positive ion-edit" ng-click="changeCourse(course)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorder(course, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>

	<form name="form.coursesForm" role="form" ng-submit="createCourse(course)">
    <div class="list list-inset">
    	<label class="item item-input">
  		<i class="icon ion-ios-plus-empty"></i>
  		<input name="textInput" type="text" id="course_title" placeholder="Kurs hinzufügen" ng-model="course.title">
  		</label>
  		</div>
  		<input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;">
  		
	</form>
 
   </ion-content>
  
</ion-view>