
<ion-view hide-back-button="true" title={{consts.titlePageOne}} cache-view="false" id="page1" style="background-color:#F7F7F7">
  <ion-nav-buttons side="right" class="has-header has-footer">
    <button  class="button button-icon icon ion-drag" ng-click="showReor()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header has-footer" >
			<div ng-if="soteam" class="row header">
					<div class="col">Teamer</div>
          <div style="text-align: center;" class="col">Heute</div>
          <div style="text-align: center;" class="col">Woche</div>
          <div style="text-align: center;" class="col">Monat</div>
          <div style="text-align: center;" class="col">Jahr</div>          
        </div>
			<div ng-if="soteam" class="row">
				<div class="col">Du</div>
					<div style="text-align: center;"  class="col">{{ratingsHeute / azEinheit}}</div>
					<div style="text-align: center;" class="col">{{ratingsWoche / azEinheit}}</div>
					<div style="text-align: center;" class="col">{{ratingsMonat / azEinheit}}</div>
					<div style="text-align: center;" class="col">{{ratingsJahr / azEinheit}}</div>
			</div>
		<div class="card">
			<div class="item item-text-wrap">
				<i ng-click="showPopupAz()" style="margin-right : 10px;" class="icon ion-information-circled"></i>
			Du hast <strong>heute</strong>  {{ratingsHeute}} {{consts.ratings}} erfasst. <span ng-if="soteam">Das sind <strong>{{ratingsHeute / azEinheit}} Stunden</strong>.</span>
				
			</div>
		</div>

	
	
	
		
  

		<ion-list  id="kurs-list1" show-delete="showDelete" show-reorder="showReorder" class="manual-list-fullwidth">
	<ion-item class="item-icon-left" id="kurs-list-item1" ui-sref="teilnehmer" ng-repeat="course in courses |  orderBy : myOrderBy" ng-click="selectCourse(course, $index)">
	      
        <i class="icon ion-ios-people-outline"></i>{{course.title}} <br /><small ng-if="course.bienchen">{{consts.schueler}}: {{course.pupils.length}} 
					{{consts.bienchen}}: {{course.bienchen}} Mittel: {{course.bienchen/course.pupils.length | number: 0}} </small><br />
        <small ng-repeat="pupil in course.pupils | orderBy : '-bienchen' | limitTo : 3"> {{pupil.name}}: {{pupil.bienchen}} 
        </small> </span>
		
        <ion-option-button  class="button-assertive ion-trash-a" ng-click="deleteCourse(course)"></ion-option-button>
        <ion-option-button  class="button-positive ion-edit" ng-click="changeCourse(course)"></ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorder(course, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>

	<form ng-if="courses.length==0" name="form.coursesForm" role="form" ng-submit="createCourse(course.title)">
    <div class="list list-inset">
    	<label class="item item-input">
  		<i class="icon ion-ios-plus-empty"></i>
  		<input name="textInput" type="text" id="course_title" placeholder={{consts.placeholder}} ng-model="course.title">
  		</label>
  		</div>
  		<input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;">
  		
	</form>
 
	
	
   </ion-content>
   
   
   
   <div class="tabs tabs-footer tabs-icon-left tabs-positive">
	  	<a class="tab-item" ng-click="showAddCourse()">
			<i class="icon ion-plus"></i>
			Neu
		</a>
  		<a class="tab-item" ng-click="showOrder()">
			<i class="icon ion-arrow-up-c"></i>
			A-z
		</a>
		<a class="tab-item" ng-click="showMore()">
			<i class="icon ion-more"></i>
			Mehr
		</a>
	</div>
  
</ion-view>