	<div class="modal" >

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
    	
      <h1 class="title">{{activeCourse.title}}</h1>
      <button ng-click="closeModalCourse()" class="button button-clear button-positive">Abbruch</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
    
     <form ng-submit="closeEditCourse(course)">
        <div class="list">
        <label class="item item-input item-stacked-label">
			<span class="input-label">Kurs: {{course.title}} </span>
          	<input type="text" placeholder="Kursbezeichnung" ng-model="course.title">	             
          </label>		  
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Speichern</button>
        </div>
      </form>

    </ion-content>

  </div>

  