	<div class="modal" >

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Nach Datum filtern</h1>
      <button ng-click="closeNewDatumFilter()" class="button button-clear button-positive">Löschen</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

     <form>
		 
		<ion-list>
			  <ion-radio ng-model="activeCourse.dat_wahl" ng-value="'Monat'">Aktueller Monat</ion-radio>
			  <ion-radio ng-model="activeCourse.dat_wahl" ng-value="'Woche'">Aktuelle Woche</ion-radio>
			  <ion-radio ng-model="activeCourse.dat_wahl" ng-value="'Tag'">Heute</ion-radio>
			  <ion-radio ng-model="activeCourse.dat_wahl" ng-value="'Datum'">Genaues Datum</ion-radio>
		  </ion-list>
        <div class="list"  ng-show="activeCourse.dat_wahl == 'Datum'">
			
	        <label class="item item-input">
	          Von-Datum:
	            <input  id="von_input" type="date" ng-model="activeCourse.vonDatum">
	          </label>

	          <label class="item item-input">
	          Bis-Datum:
	            <input id="name_input" type="date" ng-model="activeCourse.bisDatum">
	          </label>
        </div>
        <div class="padding">
          <button ng-click="setNewDatumFilter(activeCourse.vonDatum, activeCourse.bisDatum, set_monat)" type="submit" class="button button-block button-positive">Datumfilter setzen</button>
        </div>
      </form>

    </ion-content>

  </div>
