	<div class="modal" >

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
    	
      <h1 class="title">{{activeCourse.activePupil.name}}</h1>
      <button ng-click="closeModalPupil()" class="button button-clear button-positive">Abbruch</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content ng-controller="ModalController">
    
     <form ng-submit="closeEditPupil(pupil)">
        <div class="list">
            <!-- Schülername -->
            <label style="padding-left: 72px;" class="item item-icon-left">
                 <i class="icon ion-ios-person-outline"></i>               
                <input type="text" placeholder={{consts.schuelerNameEingeben}} ng-model="pupil.name">
            </label>
            
            <!-- Bild -->
            <label class="item item-avatar">
                <img style="height: 32px; width: 32px" src={{activeCourse.activePupil.image}}>                            
                			Bild auswählen <input type="file" custom-on-change="uploadFile"/>	  			

            </label>
            
            
        <label class="item item-avatar">
			 <img src={{activeCourse.activePupil.image}}>
			<span class="input-label">{{consts.schueler}}: {{pupil.name}} </span>
          	<input type="text" placeholder={{consts.schuelerNameEingeben}} ng-model="pupil.name">
			Bild auswählen <input type="file" custom-on-change="uploadFile"/>	  			
          </label>
		<label class="item item-input">
			<input type="text" name="" placeholder="Notiz hinzufügen ..." ng-model="pupil.kommentar"/>
			
		</label>		  
		
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Speichern</button>
        </div>
		
      </form>
      <h3>Kommentare</h3>
      <ul class="small striped-list">
      	<li class="small" ng-repeat="k in activeCourse.activePupil.kommentare">{{k.datum | date:'EEE, yyyy-MM-dd (HH:mm:ss)'}} : {{k.kommentar}} <i ng-click="deleteKommentar(activeCourse.activePupil, k)" style="margin-left : 10px;" class="icon ion-ios-trash-outline"></i>
      	</li>
      
      </ul>
      
	  
    </ion-content>

  </div>

  