	<div class="modal" >

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
    	
      <h1 class="title">{{activeCourse.activePupil.name}}</h1>
      <button ng-click="closeModalPupil()" class="button button-clear button-positive">Abbruch</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content ng-controller="ModalController">
    
     <form ng-submit="closeEditPupil(pupil)">
        <div class="list">
        <label class="item item-avatar">
			 <img src={{activeCourse.activePupil.image}}>
			<span class="input-label">{{consts.schueler}}: {{pupil.name}} </span>
          	<input type="text" placeholder={{activeCourse.activePupil.name}} ng-model="pupil.name">
			Bild auswählen <input type="file" custom-on-change="uploadFile"/>	  			
          </label>		  
		
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Speichern</button>
        </div>
		
      </form>
	  
    </ion-content>

  </div>

  