	<div class="modal" >

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
    	
      <h1 class="title">{{activeSubject.title}}</h1>
      <button ng-click="closeNewSubject()" class="button button-clear button-positive">Abbruch</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
    
     <form ng-submit="closeEditSubject(subject)">
        <div class="list">
        <label class="item item-input item-stacked-label">
			<span class="input-label">Thema: {{activeSubject.title}} </span>
          	<input type="text" placeholder="Thema" ng-model="subject.title">	             
          </label>
		  
          <label class="item item-input item-stacked-label">
          Geplant für Datum: {{activeSubject.geplant_fuer | date}}  		  
            <input id="name_input" type="date" placeholder="Planzeit eingeben" ng-model="subject.geplant_fuer">
          </label>
           
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Speichern</button>
        </div>
      </form>

    </ion-content>

  </div>

