	<div class="modal" >

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
    	
      <h1 class="title">Neuer Schüler für Kurs {{modalData.msg}}</h1>
      <button ng-click="closeNewPupil()" class="button button-clear button-positive">Abbruch</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
    
     <form ng-submit="closeEditPupil(pupil)">
        <div class="list">
        <label class="item item-input item-stacked-label">
			<span class="input-label">Name: {{pupil.name}} </span>
          	<input type="text" placeholder="Max Mustermann" ng-model="pupil.name">	             
          </label>
		  
          
           
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Erstelle Teilnehmer</button>
        </div>
      </form>

    </ion-content>

  </div>

  