<ion-view title="Teilnehmer" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-personadd-outline" ng-click="newPupil()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="teilnehmer-list5">
      <ion-item id="teilnehmer-list-item5" ng-repeat="pupil  in activeCourse.pupils" ng-click="addRating(pupil)" on-hold="addTeufelchen(pupil)">{{pupil.name}} - {{pupil.bienchen}}
        <ion-option-button class="button-assertive" ng-click="delete(pupil)">Löschen</ion-option-button>
        <ion-option-button class="button-positive">Ändern</ion-option-button>
		<h3>Bienchen</h3>
		<p ng-repeat="rating in pupil.ratings">{{rating.datum | date : "HH:mm:ss dd.MM.y"}} - {{rating.thema}}</p>
		<h3>Teufelchen</h3>
		<p ng-repeat="teufelchen in pupil.teufelchen">{{teufelchen.datum | date : "HH:mm:ss dd.MM.y"}} - {{teufelchen.thema}}</p>
		
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-balanced">
	  <div class="buttons">
	    <button class="button">Left Button</button>
	  </div>
	  <h1 class="title">Title!</h1>
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button">Right Button</button>
	  </div>
  </ion-footer-bar>
</ion-view>