<ion-view title="Unterrichtsthemen {{activeCourse.title}}" cache-view="false" id="page3">

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-drag" ng-click="toggle('showReorder')"></button>
  
  </ion-nav-buttons>
  <ion-content  padding="true" class="has-header">
    <ion-list  id="themen-list3" show-delete="showDelete"   show-reorder="showReorder">
      <ion-item id="themen-list-item3" ui-sref="teilnehmer" ng-if="!subject.finished" ng-repeat="subject  in activeCourse.subjects" on-hold="openEditSubject(subject, $index)" ng-click="selectSubject(subject, $index)">    
{{subject.title}} <br /><small ng-class="(subject.geplant_fuer | date : 'yyyyMMdd') <= (today | date : 'yyyyMMdd') ? 'rot' : 'blau'"> {{subject.geplant_fuer | date : "EEE.  dd. MMM"}}</small>
	<ion-delete-button  class="ion-android-checkbox-outline-blank" ></ion-delete-button>
      
      <ion-option-button class="button-assertive ion-trash-a" ng-click="delete(subject)"></ion-option-button>
      <ion-option-button class="button-positive ion-android-checkbox" ng-click="toogleFinished(subject)"></ion-option-button>
      <ion-reorder-button class="ion-navicon" on-reorder="reorder(subject, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <!--
    <ion-list id="themen-list6">
    
      <ion-item class="positive" id="themen-list-item7" ng-click="newSubject()">+ Thema erstellen</ion-item>
    </ion-list>
   -->
   <form name="form.themenForm" role="form" ng-submit="createSubject(subject)">
    <div class="list list-inset">
    	<label class="item item-input">
  		<i class="icon ion-ios-plus-empty"></i>
  		<input name="textInput" type="text" id="subject_title" placeholder="Thema hinzufügen" ng-model="subject.title">
  		</label>
  		</div>
  		<input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;">
  		
	</form>
 
    <div ng-if="finished.length" class="hervorgehoben">Erledigte Themen: {{finished.length}}</div>
    
    <ion-list>

    	<ion-item class="erledigt" ng-click="toogleFinished(subject)" ng-repeat="subject  in activeCourse.subjects | filter:{finished: 'true'} | filter:q as finished" ng-click="selectSubject(subject, $index)">{{subject.title}}
    	</ion-item>
    </ion-list>
  </ion-content>
  <!--
   <ion-footer-bar class="bar-dark">
	<div class="button-bar">
		<button class="button button-icon ion-upload">
		</button>
		<button class="button button-icon ion-edit">
		</button>
	</div>
  	</ion-footer-bar>
  	-->
</ion-view>