<ion-view hide-back-button="true" title="Einführung" cache-view="false" id="tour">
	<ion-nav-buttons side="right" class="has-header has-footer">
		<button class="button" ui-sref="kurs">beenden</button>
   


</ion-nav-buttons>
<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
      <div class="box blue">
        <h1>Bienchen</h1>
        <h2>Build: 06.10.2020 (22:17)</h2>
       </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box yellow"><h1>YELLOW</h1></div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box pink"><h1>PINK</h1></div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
</ion-view>
